# import pandas as pd
import numpy as np
import json
import csv
from functools import reduce

In [2]:
schools = pd.read_csv("schoolsKPI.csv") 
resturant = pd.read_csv("ResturantKPI.csv") 
pharmacy = pd.read_csv("pharmacyKPI.csv") 
park = pd.read_csv("parkKPI.csv") 
mosque = pd.read_csv("mosqueKPI.csv") 
health = pd.read_csv("healthKPI.csv")

In [3]:
schools.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 10 columns):
Unnamed: 0      52 non-null int64
id              52 non-null object
district        52 non-null object
HighGirls       52 non-null int64
HighBoys        52 non-null int64
MiddleGirls     52 non-null int64
MiddleBoys      52 non-null int64
PrimaryGirls    52 non-null int64
PrimaryBoys     52 non-null int64
Kindergarten    52 non-null int64
dtypes: int64(8), object(2)
memory usage: 3.7+ KB

In [4]:
schools.head(60)

,Unnamed: 0,id,district,HighGirls,HighBoys,MiddleGirls,MiddleBoys,PrimaryGirls,PrimaryBoys,Kindergarten
0,0,10100003016,Al Shohda,5,3,6,3,6,3,1
1,1,10100003129,Al Hamra,4,2,5,3,6,2,0
2,2,10100003027,King Faisal,3,4,4,4,3,4,0
3,3,10100003139,Al Yarmuk,3,2,4,3,5,3,1
4,5,10100003137,Ishbiliyah,3,4,5,5,5,4,0
5,6,10100003155,Ghirnatah,1,1,1,1,2,1,0
6,8,10100003081,Al Quds,1,1,2,2,2,1,0
7,11,10100003079,Al Manar,1,2,1,1,1,1,0
8,12,10100003085,Al Taawun,1,1,1,1,1,1,0
9,13,10100003026,Al Woroud,2,2,2,1,2,1,0
10,15,10100003167,West Naseem,2,2,1,3,1,5,0
11,17,10100003107,Al Aqeeq,4,3,4,3,4,3,0
12,18,10100003101,Qurtubah,2,3,2,3,3,5,0
13,20,10100003073,Al Qadisiyah,1,1,1,1,1,1,0
14,21,10100003110,Al Muruj,3,3,3,3,3,3,0
15,24,10100003145,Al Malqa,0,0,1,0,1,2,0
16,25,10100003082,Al Wadi,0,0,0,0,0,1,0
17,26,10100003047,Al Rabwah,2,2,4,5,2,3,0
18,27,10100003036,Al Saadah,1,0,1,0,2,1,0
19,28,10100003089,Al Rawabi,2,1,3,1,2,1,0
20,29,10100003084,Al Maseef,3,3,3,3,3,3,0
21,34,10100003108,Al Nakheel,2,2,2,2,4,2,0
22,36,10100003086,Al Ezdihar,2,1,2,1,2,1,0
23,37,10100003051,Al Malaz,1,1,1,1,1,1,0
24,40,10100003105,Al Mughrazat,2,3,2,3,2,3,0
25,41,10100003055,Al Khaleej,1,2,1,2,1,3,0
26,42,10100003150,Al Narjis,1,2,1,2,1,2,0
27,48,10100003148,Al Arid,1,1,2,2,1,1,0
28,49,10100003090,Al Rayan,2,2,2,2,2,2,1
29,50,10100003147,Al Yasmeen,2,2,2,2,2,2,0
30,59,10100003130,Al Dar Al Baida,2,1,1,2,1,1,0
31,60,10100003099,Assafarat,1,1,2,3,3,3,0
32,61,10100003140,Al Munisiyah,2,3,2,3,2,4,0
33,69,10100003024,Al Mursalat,1,1,1,1,1,1,0
34,70,10100003013,Al Rahmaniyah,1,1,1,1,1,1,0
35,72,10100003022,Al Falah,2,2,2,2,2,2,0
36,78,10100003043,Salahuddin,1,1,1,1,1,1,0
37,86,10100003083,Al Nafel,1,1,1,1,1,1,0
38,88,10100003088,Al Rawdah,1,1,1,1,1,1,0
39,89,10100003123,Al Sahafah,1,1,1,1,1,1,0
40,91,10100003029,Al Aziziyah,2,2,2,2,3,3,0
41,93,10100003035,Al Jazeerah,0,0,0,1,0,0,0
42,94,10100003075,Al Olaya,0,0,0,1,0,1,0
43,99,10100003025,Al Nuzha,1,1,2,1,1,1,0
44,101,10100003041,King Abdullah,0,0,0,0,0,1,0
45,104,10100003080,East Naseem,0,1,0,1,0,0,0
46,108,PKAddressID': '1321138146876,Street': 'kharis branch rd,1,1,1,1,1,1,0
47,110,10100003104,Al Rabie,3,2,4,3,3,2,0
48,150,10100003153,Al Rimal,0,0,0,0,0,1,0
49,152,10100003021,Al Murabba,1,0,1,0,1,0,0
50,171,10100003109,Al Ghadeer,1,1,1,1,1,1,0
51,187,10100003133,Al Fayha,0,0,0,1,0,0,0

In [5]:
schools=schools.drop(columns=['district','Unnamed: 0'])

In [6]:
schools=schools.drop(46)

In [7]:
schools['id']=schools['id'].astype('int64')

In [8]:
resturant.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97 entries, 0 to 96
Data columns (total 3 columns):
id          97 non-null int64
district    97 non-null object
title       97 non-null int64
dtypes: int64(2), object(1)
memory usage: 2.0+ KB

In [9]:
resturant=resturant.drop(columns=['district'])

In [10]:
resturant=resturant.rename(columns={"title": "resturant"})

In [11]:
pharmacy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113 entries, 0 to 112
Data columns (total 3 columns):
id          113 non-null int64
district    113 non-null object
title       113 non-null int64
dtypes: int64(2), object(1)
memory usage: 2.3+ KB

In [12]:
pharmacy=pharmacy.drop(columns=['district'])

In [13]:
pharmacy=pharmacy.rename(columns={"title": "pharmacy"})

In [14]:
park.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 3 columns):
id          27 non-null object
district    27 non-null object
title       27 non-null int64
dtypes: int64(1), object(2)
memory usage: 496.0+ bytes

In [15]:
park=park.drop(columns=['district'])

In [16]:
park=park.rename(columns={"title": "park"})

In [17]:
park=park.drop(25)
park=park.drop(26)

In [18]:
park['id']=park['id'].astype('int64')

In [19]:
mosque.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118 entries, 0 to 117
Data columns (total 3 columns):
id          118 non-null object
district    117 non-null object
title       118 non-null int64
dtypes: int64(1), object(2)
memory usage: 1.9+ KB

In [20]:
mosque=mosque.drop(columns=['district'])

In [21]:
mosque=mosque.rename(columns={"title": "mosque"})

In [22]:
mosque=mosque.drop(117)
mosque=mosque.drop(0)

In [23]:
mosque['id']=mosque['id'].astype('int64')

In [24]:
health.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 3 columns):
id          22 non-null int64
district    22 non-null object
title       22 non-null int64
dtypes: int64(2), object(1)
memory usage: 504.0+ bytes

In [25]:
health=health.rename(columns={"title": "health"})

In [26]:
health=health.drop(columns=['district'])

In [27]:
data_frames = [schools,mosque,park, resturant, pharmacy,health]

In [28]:
result=reduce(lambda  left,right: pd.merge(left,right,on=['id'],how='outer'), data_frames)

In [29]:
result

,id,HighGirls,HighBoys,MiddleGirls,MiddleBoys,PrimaryGirls,PrimaryBoys,Kindergarten,mosque,park,resturant,pharmacy,health
0,10100003016,5.0,3.0,6.0,3.0,6.0,3.0,1.0,5.0,2.0,4.0,10.0,NaN
1,10100003129,4.0,2.0,5.0,3.0,6.0,2.0,0.0,26.0,2.0,7.0,8.0,NaN
2,10100003027,3.0,4.0,4.0,4.0,3.0,4.0,0.0,17.0,NaN,11.0,12.0,NaN
3,10100003139,3.0,2.0,4.0,3.0,5.0,3.0,1.0,24.0,NaN,20.0,25.0,NaN
4,10100003137,3.0,4.0,5.0,5.0,5.0,4.0,0.0,32.0,2.0,6.0,23.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
127,10100003106,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN
128,10100003112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
129,10100003116,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,NaN
130,10100003169,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN
131,10100003190,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN

In [30]:
result=result.fillna('0')

In [31]:
result.head(60)

,id,HighGirls,HighBoys,MiddleGirls,MiddleBoys,PrimaryGirls,PrimaryBoys,Kindergarten,mosque,park,resturant,pharmacy,health
0,10100003016,5,3,6,3,6,3,1,5,2,4,10,0
1,10100003129,4,2,5,3,6,2,0,26,2,7,8,0
2,10100003027,3,4,4,4,3,4,0,17,0,11,12,0
3,10100003139,3,2,4,3,5,3,1,24,0,20,25,0
4,10100003137,3,4,5,5,5,4,0,32,2,6,23,0
5,10100003155,1,1,1,1,2,1,0,6,0,5,9,0
6,10100003081,1,1,2,2,2,1,0,27,0,15,9,0
7,10100003079,1,2,1,1,1,1,0,9,0,1,1,0
8,10100003085,1,1,1,1,1,1,0,2,0,1,7,0
9,10100003026,2,2,2,1,2,1,0,3,1,11,15,0
10,10100003167,2,2,1,3,1,5,0,24,0,15,15,0
11,10100003107,4,3,4,3,4,3,0,9,3,3,7,0
12,10100003101,2,3,2,3,3,5,0,21,1,10,17,1
13,10100003073,1,1,1,1,1,1,0,1,0,2,1,0
14,10100003110,3,3,3,3,3,3,0,6,0,7,10,1
15,10100003145,0,0,1,0,1,2,0,41,0,12,14,0
16,10100003082,0,0,0,0,0,1,0,7,1,1,4,0
17,10100003047,2,2,4,5,2,3,0,22,2,4,13,0
18,10100003036,1,0,1,0,2,1,0,5,0,1,4,0
19,10100003089,2,1,3,1,2,1,0,11,1,4,13,0
20,10100003084,3,3,3,3,3,3,0,5,0,12,5,0
21,10100003108,2,2,2,2,4,2,0,12,0,3,4,0
22,10100003086,2,1,2,1,2,1,0,12,0,2,4,0
23,10100003051,1,1,1,1,1,1,0,7,0,8,6,0
24,10100003105,2,3,2,3,2,3,0,11,1,3,3,0
25,10100003055,1,2,1,2,1,3,0,16,0,13,15,1
26,10100003150,1,2,1,2,1,2,0,12,0,9,6,0
27,10100003148,1,1,2,2,1,1,0,10,0,10,2,0
28,10100003090,2,2,2,2,2,2,1,15,0,4,10,0
29,10100003147,2,2,2,2,2,2,0,25,0,4,9,0
30,10100003130,2,1,1,2,1,1,0,13,0,1,14,0
31,10100003099,1,1,2,3,3,3,0,2,0,0,0,0
32,10100003140,2,3,2,3,2,4,0,25,1,19,18,2
33,10100003024,1,1,1,1,1,1,0,5,0,2,2,0
34,10100003013,1,1,1,1,1,1,0,6,0,2,5,0
35,10100003022,2,2,2,2,2,2,0,12,0,0,3,0
36,10100003043,1,1,1,1,1,1,0,3,0,0,0,0
37,10100003083,1,1,1,1,1,1,0,3,1,4,5,1
38,10100003088,1,1,1,1,1,1,0,9,2,1,16,0
39,10100003123,1,1,1,1,1,1,0,9,0,7,21,0
40,10100003029,2,2,2,2,3,3,0,31,0,3,30,0
41,10100003035,0,0,0,1,0,0,0,3,0,1,3,1
42,10100003075,0,0,0,1,0,1,0,25,0,35,40,0
43,10100003025,1,1,2,1,1,1,0,6,1,4,9,0
44,10100003041,0,0,0,0,0,1,0,4,0,0,0,0
45,10100003080,0,1,0,1,0,0,0,14,0,4,12,0
46,10100003104,3,2,4,3,3,2,0,5,0,3,9,0
47,10100003153,0,0,0,0,0,1,0,8,1,2,2,0
48,10100003021,1,0,1,0,1,0,0,16,0,9,8,1
49,10100003109,1,1,1,1,1,1,0,6,1,3,4,0
50,10100003133,0,0,0,1,0,0,0,9,0,4,7,0
51,10100003002,0,0,0,0,0,0,0,9,0,0,0,0
52,10100003003,0,0,0,0,0,0,0,13,0,0,2,0
53,10100003006,0,0,0,0,0,0,0,4,0,0,0,0
54,10100003007,0,0,0,0,0,0,0,19,0,4,6,0
55,10100003008,0,0,0,0,0,0,0,12,0,2,9,0
56,10100003009,0,0,0,0,0,0,0,6,0,8,2,0
57,10100003011,0,0,0,0,0,0,0,22,0,11,12,0
58,10100003012,0,0,0,0,0,0,0,17,0,16,11,0
59,10100003014,0,0,0,0,0,0,0,5,0,0,0,0

In [32]:
district = pd.read_csv(R"C:\Users\jwoha\Shurfa\ModifiedRiyadhDistrict.csv")

In [33]:
district.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160 entries, 0 to 159
Data columns (total 4 columns):
Unnamed: 0        160 non-null int64
DistrictID        160 non-null int64
NeighborhoodAr    160 non-null object
NeighborhoodEn    160 non-null object
dtypes: int64(2), object(2)
memory usage: 3.8+ KB

In [34]:
district=district.rename(columns={"DistrictID": "id"})

In [35]:
final = pd.merge(district[['id', 'NeighborhoodAr', 'NeighborhoodEn']],result,
                 on='id')

In [36]:
final.head(60)

,id,NeighborhoodAr,NeighborhoodEn,HighGirls,HighBoys,MiddleGirls,MiddleBoys,PrimaryGirls,PrimaryBoys,Kindergarten,mosque,park,resturant,pharmacy,health
0,10100003002,النموذجيه,Al Namudhajiyah,0,0,0,0,0,0,0,9,0,0,0,0
1,10100003003,الجراديه,Al Jarradiyah,0,0,0,0,0,0,0,13,0,0,2,0
2,10100003005,منفوحه الجديده,Manfuha Al Jadidah,0,0,0,0,0,0,0,0,0,3,5,1
3,10100003006,الفاخريه,Al Fakhiriyah,0,0,0,0,0,0,0,4,0,0,0,0
4,10100003007,الديره,Al Dirah,0,0,0,0,0,0,0,19,0,4,6,0
5,10100003008,ام الحمام الشرق,East Umm Al Hamam,0,0,0,0,0,0,0,12,0,2,9,0
6,10100003009,الشرفيه,Al Sharafiyah,0,0,0,0,0,0,0,6,0,8,2,0
7,10100003011,المعذر الشمال,North Mathar,0,0,0,0,0,0,0,22,0,11,12,0
8,10100003012,ام الحمام الغرب,West Umm Al Hamam,0,0,0,0,0,0,0,17,0,16,11,0
9,10100003013,الرحمانيه,Al Rahmaniyah,1,1,1,1,1,1,0,6,0,2,5,0
10,10100003014,لبن,Laban,0,0,0,0,0,0,0,5,0,0,0,0
11,10100003015,الرفيعه,Al Rafeah,0,0,0,0,0,0,0,4,1,2,0,0
12,10100003016,الشهداء,Al Shohda,5,3,6,3,6,3,1,5,2,4,10,0
13,10100003017,الملك فهد,King Fahd,0,0,0,0,0,0,0,6,0,6,7,0
14,10100003018,السويد,Al Suwaidi,0,0,0,0,0,0,0,29,0,7,19,1
15,10100003019,الحزم,Al Hazm,0,0,0,0,0,0,0,11,0,0,1,0
16,10100003020,عتيقه,Utayqah,0,0,0,0,0,0,0,10,0,5,6,0
17,10100003021,المربع,Al Murabba,1,0,1,0,1,0,0,16,0,9,8,1
18,10100003022,الفلا,Al Falah,2,2,2,2,2,2,0,12,0,0,3,0
19,10100003023,الندى,Al Nada,0,0,0,0,0,0,0,3,0,0,2,0
20,10100003024,المرسلات,Al Mursalat,1,1,1,1,1,1,0,5,0,2,2,0
21,10100003025,النزهه,Al Nuzha,1,1,2,1,1,1,0,6,1,4,9,0
22,10100003026,الورود,Al Woroud,2,2,2,1,2,1,0,3,1,11,15,0
23,10100003027,الملك فيصل,King Faisal,3,4,4,4,3,4,0,17,0,11,12,0
24,10100003028,المدينه الصناعيه الثانيه,2Nd Industrial City,0,0,0,0,0,0,0,0,0,0,1,0
25,10100003029,العزيزيه,Al Aziziyah,2,2,2,2,3,3,0,31,0,3,30,0
26,10100003030,المنصوره,Al Mansurah,0,0,0,0,0,0,0,0,0,0,7,0
27,10100003034,الخالديه,Al Khalidiyah,0,0,0,0,0,0,0,0,0,0,1,0
28,10100003035,الجزيره,Al Jazeerah,0,0,0,1,0,0,0,3,0,1,3,1
29,10100003036,السعاده,Al Saadah,1,0,1,0,2,1,0,5,0,1,4,0
30,10100003037,الناصريه,Al Nasiriyah,0,0,0,0,0,0,0,10,0,1,2,0
31,10100003041,الملك عبدالله,King Abdullah,0,0,0,0,0,1,0,4,0,0,0,0
32,10100003042,الواحه,Al Wahah,0,0,0,0,0,0,0,6,0,1,3,0
33,10100003043,صلاح الدين,Salahuddin,1,1,1,1,1,1,0,3,0,0,0,0
34,10100003045,الوزارات,Al Wizarat,0,0,0,0,0,0,0,4,1,0,12,0
35,10100003047,الربوه,Al Rabwah,2,2,4,5,2,3,0,22,2,4,13,0
36,10100003048,جرير,Jareer,0,0,0,0,0,0,0,5,0,4,2,0
37,10100003049,المعذر,Al Mathar,0,0,0,0,0,0,0,2,0,0,1,0
38,10100003050,الصالحيه,Al Salhiyah,0,0,0,0,0,0,0,0,0,0,1,0
39,10100003051,الملز,Al Malaz,1,1,1,1,1,1,0,7,0,8,6,0
40,10100003053,عليشه,Olaishah,0,0,0,0,0,0,0,9,1,4,2,1
41,10100003054,النهضه,Al Nahdah,0,0,0,0,0,0,0,1,0,5,7,0
42,10100003055,الخليج,Al Khaleej,1,2,1,2,1,3,0,16,0,13,15,1
43,10100003056,الضباط,Al Dhubbat,0,0,0,0,0,0,0,0,0,1,1,0
44,10100003057,السويدي الغرب,West Suwaidi,0,0,0,0,0,0,0,30,0,9,13,0
45,10100003058,ديراب,rab,0,0,0,0,0,0,0,9,0,1,3,1
46,10100003059,احد,Ohod,0,0,0,0,0,0,0,3,0,0,0,0
47,10100003060,نمار,Namar,0,0,0,0,0,0,0,15,1,3,8,0
48,10100003061,الشفا,Al Shifa,0,0,0,0,0,0,0,40,0,8,18,1
49,10100003062,المحمديه,Al Muhammadiyah,0,0,0,0,0,0,0,1,0,2,6,1
50,10100003063,السليمانيه,Al Sulaimaniyah,0,0,0,0,0,0,0,13,0,23,15,1
51,10100003064,المروه,Al Marwah,0,0,0,0,0,0,0,10,0,1,2,0
52,10100003065,عكاظ,Okaz,0,0,0,0,0,0,0,3,0,0,1,0
53,10100003066,شبرا,Shubra,0,0,0,0,0,0,0,27,0,3,11,0
54,10100003067,الزهره,Al Zahrah,0,0,0,0,0,0,0,34,0,4,9,0
55,10100003068,صيا,Siyah,0,0,0,0,0,0,0,3,0,0,2,0
56,10100003069,سلطانه,Sultanah,0,0,0,0,0,0,0,21,0,4,10,1
57,10100003070,اليمامه,Al Yamamah,0,0,0,0,0,0,0,1,0,1,3,0
58,10100003071,البديعه,Al Badeah,0,0,0,0,0,0,0,16,1,1,9,1
59,10100003072,المصانع,Al Masani,0,0,0,0,0,0,0,1,0,0,0,0

In [37]:
final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 127 entries, 0 to 126
Data columns (total 15 columns):
id                127 non-null int64
NeighborhoodAr    127 non-null object
NeighborhoodEn    127 non-null object
HighGirls         127 non-null object
HighBoys          127 non-null object
MiddleGirls       127 non-null object
MiddleBoys        127 non-null object
PrimaryGirls      127 non-null object
PrimaryBoys       127 non-null object
Kindergarten      127 non-null object
mosque            127 non-null object
park              127 non-null object
resturant         127 non-null object
pharmacy          127 non-null object
health            127 non-null object
dtypes: int64(1), object(14)
memory usage: 8.9+ KB

In [38]:
final.to_json(R'C:\Users\jwoha\NationalAddressAPI\KPIs\KPIs.json', orient='records', lines=True)