# Health  Data

In [4]:
import pandas as pd
import json
import csv
import time
import sys
import http.client, urllib.request, urllib.parse, urllib.error, base64

## Data Request

In [2]:
astrings2 = list()


try:
    conn = http.client.HTTPSConnection('apina.address.gov.sa')
    for page_num in range(1, 11):
                    conn.request("GET", "https://apina.address.gov.sa/NationalAddress/v3.1/address/poi-fixed-params?language=E&format=JSON&ServiceString=Health&cityname=riyadh&api_key=f028fce44cce47eb86a1c0de45600495&page=" + str(page_num))
                    response = conn.getresponse()
                    data= response.read()
                    decode=data.decode('utf-8', 'ignore')
                    astrings2.append(decode)
                    time.sleep(5)
                    conn.close()
except Exception as e:
    print("[Errno {0}] {1}".format(e.errno, e.strerror))

####################################

## Data Assesment

In [3]:
print(len(astrings2))

10

In [4]:
df=pd.Series(astrings2).to_frame()

In [5]:
df.head(10)

                                                   0
0  {"totalSearchResults":"115","Addresses":[{"Tit...
1  {"totalSearchResults":"115","Addresses":[{"Tit...
2  {"totalSearchResults":"115","Addresses":[{"Tit...
3  {"totalSearchResults":"115","Addresses":[{"Tit...
4  {"totalSearchResults":"115","Addresses":[{"Tit...
5  {"totalSearchResults":"115","Addresses":[{"Tit...
6  {"totalSearchResults":"115","Addresses":[{"Tit...
7  {"totalSearchResults":"115","Addresses":[{"Tit...
8  {"totalSearchResults":"115","Addresses":[{"Tit...
9  {"totalSearchResults":"115","Addresses":[{"Tit...

## Create a Dataframe

In [6]:
x=0 
for index, row in df.iterrows():
    if x==0:
              y=df[0][index]
              result=pd.read_json (y)
    else:
                y=df[0][index]
                if "Internal server error" in y :
                    print(index)
                else:
                    result=result.append(pd.read_json (y))
    x=x+1

In [7]:
result.tail(60)

,totalSearchResults,Addresses,PostCode,success,result,statusdescription,fullexception
0,115,{'Title': 'health center monsah primary health...,NaN,True,NaN,SUCCESS,NaN
1,115,"{'Title': 'health house pharmacy', 'Address1':...",NaN,True,NaN,SUCCESS,NaN
2,115,"{'Title': 'health center', 'Address1': '7117 r...",NaN,True,NaN,SUCCESS,NaN
3,115,"{'Title': 'health found', 'Address1': '7694 ab...",NaN,True,NaN,SUCCESS,NaN
4,115,"{'Title': 'health house pharmacy', 'Address1':...",NaN,True,NaN,SUCCESS,NaN
5,115,"{'Title': 'health fayhaa pharmacy ', 'Address1...",NaN,True,NaN,SUCCESS,NaN
6,115,"{'Title': 'health house pharmacy', 'Address1':...",NaN,True,NaN,SUCCESS,NaN
7,115,{'Title': 'health center cordoba primary healt...,NaN,True,NaN,SUCCESS,NaN
8,115,"{'Title': 'health house pharmacy', 'Address1':...",NaN,True,NaN,SUCCESS,NaN
9,115,"{'Title': 'Health House Pharmacy(Delivery)', '...",NaN,True,NaN,SUCCESS,NaN
0,115,"{'Title': 'Health House Pharmacy(Delivery)', '...",NaN,True,NaN,SUCCESS,NaN
1,115,"{'Title': 'Health House Pharmacy(Delivery)', '...",NaN,True,NaN,SUCCESS,NaN
2,115,"{'Title': 'Health House Pharmacy(Delivery)', '...",NaN,True,NaN,SUCCESS,NaN
3,115,"{'Title': 'Health House Pharmacy(Delivery)', '...",NaN,True,NaN,SUCCESS,NaN
4,115,"{'Title': 'Health House Pharmacy(Delivery)', '...",NaN,True,NaN,SUCCESS,NaN
5,115,"{'Title': 'Health House Pharmacy(Delivery)', '...",NaN,True,NaN,SUCCESS,NaN
6,115,"{'Title': 'Health House Pharmacy(Delivery)', '...",NaN,True,NaN,SUCCESS,NaN
7,115,"{'Title': 'Health House Pharmacy(Delivery)', '...",NaN,True,NaN,SUCCESS,NaN
8,115,"{'Title': 'Health House Pharmacy(Delivery)', '...",NaN,True,NaN,SUCCESS,NaN
9,115,"{'Title': 'Health House Pharmacy(Delivery)', '...",NaN,True,NaN,SUCCESS,NaN
0,115,{'Title': 'health institutes general administr...,NaN,True,NaN,SUCCESS,NaN
1,115,"{'Title': 'Health Kingdom Pharmacy(Delivery)',...",NaN,True,NaN,SUCCESS,NaN
2,115,"{'Title': 'Health Kingdom Pharmacy(Delivery)',...",NaN,True,NaN,SUCCESS,NaN
3,115,"{'Title': 'health kingdom pharmacy', 'Address1...",NaN,True,NaN,SUCCESS,NaN
4,115,"{'Title': 'Health Kingdom Pharmacy(Delivery)',...",NaN,True,NaN,SUCCESS,NaN
5,115,"{'Title': 'Health Kingdom Pharmacy(Delivery)',...",NaN,True,NaN,SUCCESS,NaN
6,115,"{'Title': 'Health Kingdom Pharmacy(Delivery)',...",NaN,True,NaN,SUCCESS,NaN
7,115,"{'Title': 'health kingdom pharmacy ', 'Address...",NaN,True,NaN,SUCCESS,NaN
8,115,"{'Title': 'Health Kingdom Pharmacy(Delivery)',...",NaN,True,NaN,SUCCESS,NaN
9,115,"{'Title': 'Health Kingdom Pharmacy(Delivery)',...",NaN,True,NaN,SUCCESS,NaN
0,115,{'Title': 'health projects general administrat...,NaN,True,NaN,SUCCESS,NaN
1,115,"{'Title': 'house health pharmacy', 'Address1':...",NaN,True,NaN,SUCCESS,NaN
2,115,"{'Title': 'Health Kingdom Pharmacy(Delivery)',...",NaN,True,NaN,SUCCESS,NaN
3,115,"{'Title': 'healthy unity 2', 'Address1': '2330...",NaN,True,NaN,SUCCESS,NaN
4,115,"{'Title': 'kenouz health pharmacy', 'Address1'...",NaN,True,NaN,SUCCESS,NaN
5,115,"{'Title': 'Health Kingdom Pharmacy(Delivery)',...",NaN,True,NaN,SUCCESS,NaN
6,115,"{'Title': 'healthy juices', 'Address1': '7252 ...",NaN,True,NaN,SUCCESS,NaN
7,115,"{'Title': 'juice healthy juice shop', 'Address...",NaN,True,NaN,SUCCESS,NaN
8,115,"{'Title': 'healthy and free', 'Address1': '434...",NaN,True,NaN,SUCCESS,NaN
9,115,"{'Title': 'house health pharmacy', 'Address1':...",NaN,True,NaN,SUCCESS,NaN
0,115,"{'Title': 'knouz health pharmacy', 'Address1':...",NaN,True,NaN,SUCCESS,NaN
1,115,{'Title': 'ministry of health _ stores develop...,NaN,True,NaN,SUCCESS,NaN
2,115,"{'Title': 'my health', 'Address1': '3389 al im...",NaN,True,NaN,SUCCESS,NaN
3,115,"{'Title': 'ministry of health', 'Address1': '3...",NaN,True,NaN,SUCCESS,NaN
4,115,{'Title': 'ministry of health nutrition admin....,NaN,True,NaN,SUCCESS,NaN
5,115,{'Title': 'mental health consultancy and rehab...,NaN,True,NaN,SUCCESS,NaN
6,115,"{'Title': 'ministry of health general admin', ...",NaN,True,NaN,SUCCESS,NaN
7,115,{'Title': 'king saud bin abdulaziz university ...,NaN,True,NaN,SUCCESS,NaN
8,115,"{'Title': 'ministry of health', 'Address1': '6...",NaN,True,NaN,SUCCESS,NaN
9,115,{'Title': 'muhammadiah primary health care cen...,NaN,True,NaN,SUCCESS,NaN
0,115,{'Title': 'of the kingdom of health pharmacy '...,NaN,True,NaN,SUCCESS,NaN
1,115,{'Title': 'preliminary health care center _ su...,NaN,True,NaN,SUCCESS,NaN
2,115,"{'Title': 'nawah healthcare', 'Address1': '625...",NaN,True,NaN,SUCCESS,NaN
3,115,{'Title': 'preliminary health care center _ su...,NaN,True,NaN,SUCCESS,NaN
4,115,"{'Title': 'primary health care center', 'Addre...",NaN,True,NaN,SUCCESS,NaN
5,115,"{'Title': 'nour health pharmacy', 'Address1': ...",NaN,True,NaN,SUCCESS,NaN
6,115,{'Title': 'preliminary health care center _ su...,NaN,True,NaN,SUCCESS,NaN
7,115,{'Title': 'primary health care center in al ba...,NaN,True,NaN,SUCCESS,NaN
8,115,{'Title': 'preliminary health care center _ ol...,NaN,True,NaN,SUCCESS,NaN
9,115,"{'Title': 'primary health care center', 'Addre...",NaN,True,NaN,SUCCESS,NaN

In [8]:
result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100 entries, 0 to 9
Data columns (total 7 columns):
totalSearchResults    100 non-null int64
Addresses             100 non-null object
PostCode              0 non-null float64
success               100 non-null bool
result                0 non-null float64
statusdescription     100 non-null object
fullexception         0 non-null float64
dtypes: bool(1), float64(3), int64(1), object(2)
memory usage: 4.8+ KB

## Data Cleaning

In [9]:
result.drop(["PostCode","success",'result','statusdescription','success','fullexception'], axis = 1, inplace = True)

In [10]:
result.head()

   totalSearchResults                                          Addresses
0                 115  {'Title': 'al izdihar company for health tools...
1                 115  {'Title': 'al uraija old health care center', ...
2                 115  {'Title': 'an nafel primary health care center...
3                 115  {'Title': 'al sulaymaniyyah health care unit',...
4                 115  {'Title': 'alwaabil alsib  healthy water and r...

In [11]:
result['Addresses'] = result['Addresses'].astype(str)
d=result.Addresses.str.split(',', expand = True)

In [12]:
d.head()

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
0,{'Title': 'al izdihar company for health tools','Address1': '3652 al imam saud ibn abdulaziz ...,'Address2': 'RIYADH 12465 - 6435','ObjLatLng': '12465036952 46.684586776228 24....,'BuildingNumber': '3652','Street': 'al imam saud ibn abdulaziz branch rd','District': 'Al Maseef Dist.','City': 'RIYADH','PostCode': '12465','AdditionalNumber': '6435',...,'Title_L2': ' ','RegionName_L2': ' ','City_L2': '','Street_L2': ' ','District_L2': ' ','CompanyName_L2': None,'GovernorateID': None,'Governorate': None,'Governorate_L2': None},None
1,{'Title': 'al uraija old health care center','Address1': '7560 abi ath thana al maghribi -...,'Address2': 'RIYADH 12754 - 2634','ObjLatLng': '12754002922 46.6635091220001 24...,'BuildingNumber': '7560','Street': 'abi ath thana al maghribi','District': 'Al Uraija Dist.','City': 'RIYADH','PostCode': '12754','AdditionalNumber': '2634',...,'Title_L2': ' ','RegionName_L2': ' ','City_L2': '','Street_L2': ' ','District_L2': ' ','CompanyName_L2': None,'GovernorateID': None,'Governorate': None,'Governorate_L2': None},None
2,{'Title': 'an nafel primary health care center','Address1': '4486 abdullah ibn sufyan - Al Na...,'Address2': 'RIYADH 13312 - 6968','ObjLatLng': '13312011873 46.6846592526384 24...,'BuildingNumber': '4486','Street': 'abdullah ibn sufyan','District': 'Al Nafel Dist.','City': 'RIYADH','PostCode': '13312','AdditionalNumber': '6968',...,'Title_L2': ' ','RegionName_L2': ' ','City_L2': '','Street_L2': ' ','District_L2': ' ','CompanyName_L2': None,'GovernorateID': None,'Governorate': None,'Governorate_L2': None},None
3,{'Title': 'al sulaymaniyyah health care unit','Address1': '4378 prince muhammad ibn abdulaz...,'Address2': 'RIYADH 12242 - 6803','ObjLatLng': '12242002532 46.6984233540001 24...,'BuildingNumber': '4378','Street': 'prince muhammad ibn abdulaziz rd','District': 'Al Sulaimaniyah Dist.','City': 'RIYADH','PostCode': '12242','AdditionalNumber': '6803',...,'Title_L2': ' ','RegionName_L2': ' ','City_L2': '','Street_L2': ' ','District_L2': ' ','CompanyName_L2': None,'GovernorateID': None,'Governorate': None,'Governorate_L2': None},None
4,{'Title': 'alwaabil alsib healthy water and r...,'Address1': '6329 Abdullah Bin Masud - West ...,'Address2': 'RIYADH 14231 - 2987','ObjLatLng': '14231117314 46.8133474297471 24...,'BuildingNumber': '6329','Street': ' Abdullah Bin Masud','District': 'West Naseem Dist.','City': 'RIYADH','PostCode': '14231','AdditionalNumber': '2987',...,'Title_L2': ' ','RegionName_L2': ' ','City_L2': '','Street_L2': ' ','District_L2': ' ','CompanyName_L2': None,'GovernorateID': None,'Governorate': None,'Governorate_L2': None},None

In [13]:
d.drop([2,3,19,4,5,7,8,9,10,11,12,13,17,18,16,21,22,23,24,25,26,27,28,29,30], axis = 1, inplace = True)

In [14]:
d.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100 entries, 0 to 9
Data columns (total 6 columns):
0     100 non-null object
1     100 non-null object
6     100 non-null object
14    100 non-null object
15    100 non-null object
20    100 non-null object
dtypes: object(6)
memory usage: 3.1+ KB

In [15]:
d.head()

,0,1,6,14,15,20
0,{'Title': 'al izdihar company for health tools','Address1': '3652 al imam saud ibn abdulaziz ...,'District': 'Al Maseef Dist.','Latitude': '24.7572102017011','Longitude': '46.684586776228','DistrictID': '10100003084'
1,{'Title': 'al uraija old health care center','Address1': '7560 abi ath thana al maghribi -...,'District': 'Al Uraija Dist.','Latitude': '24.6272215990001','Longitude': '46.6635091220001','DistrictID': '10100003127'
2,{'Title': 'an nafel primary health care center','Address1': '4486 abdullah ibn sufyan - Al Na...,'District': 'Al Nafel Dist.','Latitude': '24.7783523029677','Longitude': '46.6846592526384','DistrictID': '10100003083'
3,{'Title': 'al sulaymaniyyah health care unit','Address1': '4378 prince muhammad ibn abdulaz...,'District': 'Al Sulaimaniyah Dist.','Latitude': '24.7038122820002','Longitude': '46.6984233540001','DistrictID': '10100003063'
4,{'Title': 'alwaabil alsib healthy water and r...,'Address1': '6329 Abdullah Bin Masud - West ...,'District': 'West Naseem Dist.','Latitude': '24.7282103081947','Longitude': '46.8133474297471','DistrictID': '10100003167'

In [16]:
d.columns = ["title","address","district","latitude","longitude","id"]

In [17]:
d.head()

,title,address,district,latitude,longitude,id
0,{'Title': 'al izdihar company for health tools','Address1': '3652 al imam saud ibn abdulaziz ...,'District': 'Al Maseef Dist.','Latitude': '24.7572102017011','Longitude': '46.684586776228','DistrictID': '10100003084'
1,{'Title': 'al uraija old health care center','Address1': '7560 abi ath thana al maghribi -...,'District': 'Al Uraija Dist.','Latitude': '24.6272215990001','Longitude': '46.6635091220001','DistrictID': '10100003127'
2,{'Title': 'an nafel primary health care center','Address1': '4486 abdullah ibn sufyan - Al Na...,'District': 'Al Nafel Dist.','Latitude': '24.7783523029677','Longitude': '46.6846592526384','DistrictID': '10100003083'
3,{'Title': 'al sulaymaniyyah health care unit','Address1': '4378 prince muhammad ibn abdulaz...,'District': 'Al Sulaimaniyah Dist.','Latitude': '24.7038122820002','Longitude': '46.6984233540001','DistrictID': '10100003063'
4,{'Title': 'alwaabil alsib healthy water and r...,'Address1': '6329 Abdullah Bin Masud - West ...,'District': 'West Naseem Dist.','Latitude': '24.7282103081947','Longitude': '46.8133474297471','DistrictID': '10100003167'

In [18]:
d['title']=d.title.str.strip('{\'Title\': \'')

In [19]:
d['address']=d.address.str.strip('\'Address1\': \'')

In [20]:
d['district']=d.district.str.strip('\'District\': \'')

In [21]:
d['latitude']=d.latitude.str.strip('\'Latitude\': \'')

In [22]:
d['district']=d.district.str.strip('Dist.')

In [23]:
d['longitude']=d.longitude.str.strip('\'Longitude\': \'')

In [24]:
d['id']=d.id.str.strip('\'DistrictID\': \'')

In [33]:
d.index = range(100)

In [34]:
df1=d[d.title.str.contains("center")]
df1.append(d[d.title.str.contains("clinic")])
df1.append(d[d.title.str.contains("unit")])

,title,address,district,latitude,longitude,id
1,al uraija old health care center,7560 abi ath thana al maghribi - Al Uraija Dist.,Al Uraija,24.6272215990001,46.6635091220001,10100003127
2,an nafel primary health care center,4486 abdullah ibn sufyan - Al Nafel Dist.,Al Nafel,24.7783523029677,46.6846592526384,10100003083
5,al muntazah primary health center,2876 namly - Al Murabba Dist.,Al Murabba,24.6685265340001,46.7081057150001,10100003021
7,"""al badi'ah primary health center""",6660 abdul muhsin al faram - Al Badeah Dist.,Al Badeah,24.618850842,46.680632825,10100003071
8,al uraija new health care center,3214 al amir musaid ibn abdul rahman ibn faisa...,West Oraija,24.5891531790002,46.606555617,10100003126
11,dawaak health center,7839 ath thuqba - Al Jazeerah Dist.,Al Jazeerah,24.6832972210348,46.7968322268354,10100003035
13,attiqah health care center,6311 al amir abdullah ibn abdul rahman ibn fai...,Manfuha Al Jadidah,24.6076246160002,46.7110339880001,10100003005
18,arqah health center,4069 as sihah - Irqah,Irqah,24.6897991090001,46.6028179840001,10100003142
23,fawaz neighborhood health center,3064 al hareeq - Dirab Dist.,ab,24.4959371688994,46.6224275764822,10100003058
31,health care center _ uraija midd,3676 rawdat al faras - Middle Oraija Dist.,Middle Oraija,24.6085810430002,46.6316118060001,10100003128
33,health care center _ shifa,3793 nasser bin abdullah al hussein - Al Shifa...,Al Shifa,24.5568617380001,46.6882112140001,10100003061
34,health care center_ulaisha,3118 al amir fahd ibn faisal ibn farhan al sau...,Olaishah,24.6257267830001,46.6860346650001,10100003053
36,health care center _ um sulaim,8958 Al Suwais - Al Wisham Dist.,Al Wisham,24.6393591920001,46.7010528130001,10100003114
39,health care center _ uraija _ women,7246 al mallah - West Oraija Dist.,West Oraija,24.6126660300001,46.605977222,10100003126
40,health center monsah primary health care cente...,7434 at turbah - Al Munisiyah Dist.,Al Munisiyah,24.8278908891915,46.7859311226392,10100003140
42,health center,7117 rammah - Al Muruj Dist.,Al Muruj,24.7559518446077,46.6744529525812,10100003110
47,health center cordoba primary health care yarm...,3557 hasan al jadi - Qurtubah Dist.,Qurtubah,24.8006495226687,46.7293887054134,10100003101
89,muhammadiah primary health care center,7369 - Al Muhammadiyah Dist.,Al Muhammadiyah,24.7327736680621,46.6582597687327,10100003062
91,preliminary health care center _ suwaid,7342 Kaab Bin Zuhair - Al Suwaidi Dist.,Al Suwaidi,24.593440308,46.660197358,10100003018
93,preliminary health care center _ sulemaniyah,6986 Jaafar Bin Abi Taleb - Al Sulaimaniyah Dist.,Al Sulaimaniyah,24.7052332540002,46.6956786730001,10100003063
94,primary health care center,3380 uthman al jamal - Al Khaleej Dist.,Al Khaleej,24.7688582324795,46.789922606568,10100003055
96,preliminary health care center _ sultana,6342 Yazeed Bin Mazeed - Sultanah Dist.,Sultanah,24.5999877280001,46.691541361,10100003069
97,"""primary health care center in al badi'a""",6633 hadbat najd - Dhahrat Al Badeah Dist.,hahrat Al Badeah,24.5861216480001,46.6325851610001,10100003091
98,preliminary health care center _ old al uraija,2665 maklat - Al Uraija Dist.,Al Uraija,24.6270891590001,46.6638228730001,10100003127
99,primary health care center,3867 al balqa - Al Munisiyah Dist.,Al Munisiyah,24.8280564996775,46.7859177976575,10100003140
73,healthy unity 2,2330 al muharib - Utayqah Dist.,Utayqah,24.6014186,46.7065079000002,10100003020

In [37]:
df1.index = range(25)

In [43]:
df1.to_csv("health.csv")

## Translation

In [44]:
df1=pd.read_csv('health.csv')

In [45]:
import googletrans 
from googletrans import Translator

In [47]:
translator = Translator()
for index, row in df1.iterrows():
    element= df1['title'][index]
    df1['title'][index]= translator.translate(element,dest='ar').text

C:\Users\jwoha\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [49]:
df1.head(50)

,Unnamed: 0,title,address,district,latitude,longitude,id
0,0,مركز الرعاية الصحية القديم آل uraija,7560 abi ath thana al maghribi - Al Uraija Dist.,Al Uraija,24.627222,46.663509,10100003127
1,1,والنفل مركز الرعاية الصحية الأولية,4486 abdullah ibn sufyan - Al Nafel Dist.,Al Nafel,24.778352,46.684659,10100003083
2,2,المنتزه مركز الرعاية الصحية الأولية,2876 namly - Al Murabba Dist.,Al Murabba,24.668527,46.708106,10100003021
3,3,"""البديعة إلى مركز الرعاية الصحية الأولية""",6660 abdul muhsin al faram - Al Badeah Dist.,Al Badeah,24.618851,46.680633,10100003071
4,4,آل uraija مركز الرعاية الصحية الجديد,3214 al amir musaid ibn abdul rahman ibn faisa...,West Oraija,24.589153,46.606556,10100003126
5,5,مركز صحي dawaak,7839 ath thuqba - Al Jazeerah Dist.,Al Jazeerah,24.683297,46.796832,10100003035
6,6,attiqah مركز الرعاية الصحية,6311 al amir abdullah ibn abdul rahman ibn fai...,Manfuha Al Jadidah,24.607625,46.711034,10100003005
7,7,مركز صحي arqah,4069 as sihah - Irqah,Irqah,24.689799,46.602818,10100003142
8,8,مركز صحي حي فواز,3064 al hareeq - Dirab Dist.,ab,24.495937,46.622428,10100003058
9,9,مركز الرعاية الصحية _ العث uraija,3676 rawdat al faras - Middle Oraija Dist.,Middle Oraija,24.608581,46.631612,10100003128
10,10,مركز الرعاية الصحية _ الشفاء,3793 nasser bin abdullah al hussein - Al Shifa...,Al Shifa,24.556862,46.688211,10100003061
11,11,center_ulaisha الرعاية الصحية,3118 al amir fahd ibn faisal ibn farhan al sau...,Olaishah,24.625727,46.686035,10100003053
12,12,مركز الرعاية الصحية _ أم SULAIM,8958 Al Suwais - Al Wisham Dist.,Al Wisham,24.639359,46.701053,10100003114
13,13,مركز الرعاية الصحية _ _ uraija النساء,7246 al mallah - West Oraija Dist.,West Oraija,24.612666,46.605977,10100003126
14,14,مركز صحي موناش الرعاية الصحية الأولية حي مركز ...,7434 at turbah - Al Munisiyah Dist.,Al Munisiyah,24.827891,46.785931,10100003140
15,15,مركز الصحة,7117 rammah - Al Muruj Dist.,Al Muruj,24.755952,46.674453,10100003110
16,16,مركز صحي قرطبة الرعاية الصحية الأولية حي اليرموك,3557 hasan al jadi - Qurtubah Dist.,Qurtubah,24.800650,46.729389,10100003101
17,17,المحمدي مركز الرعاية الصحية الأولية,7369 - Al Muhammadiyah Dist.,Al Muhammadiyah,24.732774,46.658260,10100003062
18,18,مركز الرعاية الصحية الأولية _ السويدي,7342 Kaab Bin Zuhair - Al Suwaidi Dist.,Al Suwaidi,24.593440,46.660197,10100003018
19,19,مركز الرعاية الصحية الأولية _ السليمانية,6986 Jaafar Bin Abi Taleb - Al Sulaimaniyah Dist.,Al Sulaimaniyah,24.705233,46.695679,10100003063
20,20,مركز الرعاية الصحية الأولية,3380 uthman al jamal - Al Khaleej Dist.,Al Khaleej,24.768858,46.789923,10100003055
21,21,مركز الرعاية الصحية الأولية _ سلطانة,6342 Yazeed Bin Mazeed - Sultanah Dist.,Sultanah,24.599988,46.691541,10100003069
22,22,"""مركز الرعاية الصحية الأولية في بديع""",6633 hadbat najd - Dhahrat Al Badeah Dist.,hahrat Al Badeah,24.586122,46.632585,10100003091
23,23,مركز الرعاية الصحية الأولية _ uraija AL قديم,2665 maklat - Al Uraija Dist.,Al Uraija,24.627089,46.663823,10100003127
24,24,مركز الرعاية الصحية الأولية,3867 al balqa - Al Munisiyah Dist.,Al Munisiyah,24.828056,46.785918,10100003140

In [52]:
df1['title']='مركز الرعاية الصحية الأولية'

## KPI Calculation

In [57]:
c=df1.groupby(['id','district']).count()

In [58]:
c.head()

,,Unnamed: 0,title,address,latitude,longitude
id,district,,,,,
10100003005,Manfuha Al Jadidah,1,1,1,1,1
10100003018,Al Suwaidi,1,1,1,1,1
10100003021,Al Murabba,1,1,1,1,1
10100003035,Al Jazeerah,1,1,1,1,1
10100003053,Olaishah,1,1,1,1,1

In [59]:
c.drop(['Unnamed: 0',"address",'latitude','longitude'], axis = 1, inplace = True)

In [60]:
c

                                 title
id          district
10100003005 Manfuha Al Jadidah       1
10100003018 Al Suwaidi               1
10100003021 Al Murabba               1
10100003035 Al Jazeerah              1
10100003053 Olaishah                 1
10100003055 Al Khaleej               1
10100003058 ab                       1
10100003061 Al Shifa                 1
10100003062 Al Muhammadiyah          1
10100003063 Al Sulaimaniyah          1
10100003069 Sultanah                 1
10100003071 Al Badeah                1
10100003083 Al Nafel                 1
10100003091 hahrat Al Badeah         1
10100003101 Qurtubah                 1
10100003110 Al Muruj                 1
10100003114 Al Wisham                1
10100003126 West Oraija              2
10100003127 Al Uraija                2
10100003128 Middle Oraija            1
10100003140 Al Munisiyah             2
10100003142 Irqah                    1

## Create JSON  Files

In [61]:
c.to_csv("healthKPI.csv")

In [62]:
c.to_json(R'C:\Users\jwoha\NationalAddressAPI\KPIs\HealthKPIs.json', orient='records', lines=True)

In [7]:
with open(R'C:\Users\jwoha\NationalAddressAPI\POIs\HealthPOIs.json', 'w', encoding='utf-8') as file:
    d.to_json(file, force_ascii=False, orient='records' )