# Parks Data

In [1]:
import pandas as pd
import json
import csv
import time
import sys
import http.client, urllib.request, urllib.parse, urllib.error, base64

## Data Request

In [3]:
astrings2 = list()


try:
    conn = http.client.HTTPSConnection('apina.address.gov.sa')
    for page_num in range(1, 93):
                    conn.request("GET", "https://apina.address.gov.sa/NationalAddress/v3.1/address/poi-fixed-params?language=E&format=JSON&ServiceString=Park&cityname=riyadh&api_key=01fb2a0d9be04a9d95332c3076c49a1e&page=" + str(page_num))
                    response = conn.getresponse()
                    data= response.read()
                    decode=data.decode('utf-8', 'ignore')
                    astrings2.append(decode)
                    time.sleep(5)
                    conn.close()
except Exception as e:
    print("[Errno {0}] {1}".format(e.errno, e.strerror))

####################################

## Data Assesment

In [4]:
print(len(astrings2))

92

In [5]:
df=pd.Series(astrings2).to_frame()

In [6]:
df.head(50)

                                                    0
0   { "statusCode": 403, "message": "Out of call v...
1   { "statusCode": 403, "message": "Out of call v...
2   { "statusCode": 403, "message": "Out of call v...
3   { "statusCode": 403, "message": "Out of call v...
4   { "statusCode": 403, "message": "Out of call v...
5   { "statusCode": 403, "message": "Out of call v...
6   { "statusCode": 403, "message": "Out of call v...
7   { "statusCode": 403, "message": "Out of call v...
8   { "statusCode": 403, "message": "Out of call v...
9   { "statusCode": 403, "message": "Out of call v...
10  { "statusCode": 403, "message": "Out of call v...
11  { "statusCode": 403, "message": "Out of call v...
12  { "statusCode": 403, "message": "Out of call v...
13  { "statusCode": 403, "message": "Out of call v...
14  { "statusCode": 403, "message": "Out of call v...
15  { "statusCode": 403, "message": "Out of call v...
16  { "statusCode": 403, "message": "Out of call v...
17  { "statusCode": 403, "message": "Out of call v...
18  { "statusCode": 403, "message": "Out of call v...
19  { "statusCode": 403, "message": "Out of call v...
20  { "statusCode": 403, "message": "Out of call v...
21  { "statusCode": 403, "message": "Out of call v...
22  { "statusCode": 403, "message": "Out of call v...
23  { "statusCode": 403, "message": "Out of call v...
24  { "statusCode": 403, "message": "Out of call v...
25  { "statusCode": 403, "message": "Out of call v...
26  { "statusCode": 403, "message": "Out of call v...
27  { "statusCode": 403, "message": "Out of call v...
28  { "statusCode": 403, "message": "Out of call v...
29  { "statusCode": 403, "message": "Out of call v...
30  { "statusCode": 403, "message": "Out of call v...
31  { "statusCode": 403, "message": "Out of call v...
32  { "statusCode": 403, "message": "Out of call v...
33  { "statusCode": 403, "message": "Out of call v...
34  { "statusCode": 403, "message": "Out of call v...
35  { "statusCode": 403, "message": "Out of call v...
36  { "statusCode": 403, "message": "Out of call v...
37  { "statusCode": 403, "message": "Out of call v...
38  { "statusCode": 403, "message": "Out of call v...
39  { "statusCode": 403, "message": "Out of call v...
40  { "statusCode": 403, "message": "Out of call v...
41  { "statusCode": 403, "message": "Out of call v...
42  { "statusCode": 403, "message": "Out of call v...
43  { "statusCode": 403, "message": "Out of call v...
44  { "statusCode": 403, "message": "Out of call v...
45  { "statusCode": 403, "message": "Out of call v...
46  { "statusCode": 403, "message": "Out of call v...
47  { "statusCode": 403, "message": "Out of call v...
48  { "statusCode": 403, "message": "Out of call v...
49  { "statusCode": 403, "message": "Out of call v...

## Create a Dataframe

In [62]:
x=0 
for index, row in df.iterrows():
    if x==0:
              y=df[0][index]
              result=pd.read_json (y)
    else:
                y=df[0][index]
                result=result.append(pd.read_json (y))
    x=x+1

In [11]:
result.head(50)

NameError: name 'result' is not defined

In [64]:
result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 73 entries, 0 to 2
Data columns (total 7 columns):
totalSearchResults    73 non-null int64
Addresses             73 non-null object
PostCode              0 non-null float64
success               73 non-null bool
result                0 non-null float64
statusdescription     73 non-null object
fullexception         0 non-null float64
dtypes: bool(1), float64(3), int64(1), object(2)
memory usage: 3.5+ KB

## Data Cleaning

In [65]:
result.drop(["PostCode","success",'result','statusdescription','success','fullexception'], axis = 1, inplace = True)

In [66]:
result.head()

   totalSearchResults                                          Addresses
0                  73  {'Title': 'al dirwazah park and restaurant', '...
1                  73  {'Title': 'al khayam park', 'Address1': '2553 ...
2                  73  {'Title': 'al uraija children's park', 'Addres...
3                  73  {'Title': 'al haeer park ', 'Address1': '8008 ...
4                  73  {'Title': 'al rimal parking', 'Address1': '321...

In [75]:
result['Addresses'] = result['Addresses'].astype(str)
d=result.Addresses.str.split(',', expand = True)

In [76]:
d.head()

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
0,{'Title': 'al dirwazah park and restaurant','Address1': '2553 ath thumamah rd - Al Munisi...,'Address2': 'RIYADH 13255 - 7697','ObjLatLng': '13255002457 46.765687976 24.847...,'BuildingNumber': '2553','Street': 'ath thumamah rd','District': 'Al Munisiyah Dist.','City': 'RIYADH','PostCode': '13255','AdditionalNumber': '7697',...,'Title_L2': ' ','RegionName_L2': ' ','City_L2': '','Street_L2': ' ','District_L2': ' ','CompanyName_L2': None,'GovernorateID': None,'Governorate': None,'Governorate_L2': None},None
1,{'Title': 'al khayam park','Address1': '2553 ath thumamah rd - Al Munisi...,'Address2': 'RIYADH 13255 - 7697','ObjLatLng': '13255002292 46.7657118630001 24...,'BuildingNumber': '2553','Street': 'ath thumamah rd','District': 'Al Munisiyah Dist.','City': 'RIYADH','PostCode': '13255','AdditionalNumber': '7697',...,'Title_L2': ' ','RegionName_L2': ' ','City_L2': '','Street_L2': ' ','District_L2': ' ','CompanyName_L2': None,'GovernorateID': None,'Governorate': None,'Governorate_L2': None},None
2,"{'Title': ""al uraija children's park""",'Address1': '7757 shubah al anbari - West Ora...,'Address2': 'RIYADH 12976 - 4051','ObjLatLng': '12976002605 46.6153523790001 24...,'BuildingNumber': '7757','Street': 'shubah al anbari','District': 'West Oraija Dist.','City': 'RIYADH','PostCode': '12976','AdditionalNumber': '4051',...,'Title_L2': ' ','RegionName_L2': ' ','City_L2': '','Street_L2': ' ','District_L2': ' ','CompanyName_L2': None,'GovernorateID': None,'Governorate': None,'Governorate_L2': None},None
3,{'Title': 'al haeer park ','Address1': '8008 - Al Ghannamiyah Dist.','Address2': 'RIYADH 14761 - 2863','ObjLatLng': '14761008341 46.8009684745582 24...,'BuildingNumber': '8008','Street': '','District': 'Al Ghannamiyah Dist.','City': 'RIYADH','PostCode': '14761','AdditionalNumber': '2863',...,'Title_L2': ' ','RegionName_L2': ' ','City_L2': '','Street_L2': '','District_L2': ' ','CompanyName_L2': None,'GovernorateID': None,'Governorate': None,'Governorate_L2': None},None
4,{'Title': 'al rimal parking','Address1': '3219 - West Oraija Dist.','Address2': 'RIYADH 12978 - 6800','ObjLatLng': '12978002316 46.6068958570001 24...,'BuildingNumber': '3219','Street': '','District': 'West Oraija Dist.','City': 'RIYADH','PostCode': '12978','AdditionalNumber': '6800',...,'Title_L2': ' ','RegionName_L2': ' ','City_L2': '','Street_L2': '','District_L2': ' ','CompanyName_L2': None,'GovernorateID': None,'Governorate': None,'Governorate_L2': None},None

In [77]:
d.drop([2,3,19,4,5,7,8,9,10,11,12,13,17,18,16,21,22,23,24,25,26,27,28,29,30], axis = 1, inplace = True)

In [78]:
d.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 73 entries, 0 to 2
Data columns (total 6 columns):
0     73 non-null object
1     73 non-null object
6     73 non-null object
14    73 non-null object
15    73 non-null object
20    73 non-null object
dtypes: object(6)
memory usage: 2.3+ KB

In [79]:
d.head()

,0,1,6,14,15,20
0,{'Title': 'al dirwazah park and restaurant','Address1': '2553 ath thumamah rd - Al Munisi...,'District': 'Al Munisiyah Dist.','Latitude': '24.8479840250001','Longitude': '46.765687976','DistrictID': '10100003140'
1,{'Title': 'al khayam park','Address1': '2553 ath thumamah rd - Al Munisi...,'District': 'Al Munisiyah Dist.','Latitude': '24.846770564','Longitude': '46.7657118630001','DistrictID': '10100003140'
2,"{'Title': ""al uraija children's park""",'Address1': '7757 shubah al anbari - West Ora...,'District': 'West Oraija Dist.','Latitude': '24.592378733','Longitude': '46.6153523790001','DistrictID': '10100003126'
3,{'Title': 'al haeer park ','Address1': '8008 - Al Ghannamiyah Dist.','District': 'Al Ghannamiyah Dist.','Latitude': '24.4605509279613','Longitude': '46.8009684745582','DistrictID': '10100003162'
4,{'Title': 'al rimal parking','Address1': '3219 - West Oraija Dist.','District': 'West Oraija Dist.','Latitude': '24.5839914520002','Longitude': '46.6068958570001','DistrictID': '10100003126'

In [80]:
d.columns = ["title","address","district","latitude","longitude","id"]

In [81]:
d.head()

,title,address,district,latitude,longitude,id
0,{'Title': 'al dirwazah park and restaurant','Address1': '2553 ath thumamah rd - Al Munisi...,'District': 'Al Munisiyah Dist.','Latitude': '24.8479840250001','Longitude': '46.765687976','DistrictID': '10100003140'
1,{'Title': 'al khayam park','Address1': '2553 ath thumamah rd - Al Munisi...,'District': 'Al Munisiyah Dist.','Latitude': '24.846770564','Longitude': '46.7657118630001','DistrictID': '10100003140'
2,"{'Title': ""al uraija children's park""",'Address1': '7757 shubah al anbari - West Ora...,'District': 'West Oraija Dist.','Latitude': '24.592378733','Longitude': '46.6153523790001','DistrictID': '10100003126'
3,{'Title': 'al haeer park ','Address1': '8008 - Al Ghannamiyah Dist.','District': 'Al Ghannamiyah Dist.','Latitude': '24.4605509279613','Longitude': '46.8009684745582','DistrictID': '10100003162'
4,{'Title': 'al rimal parking','Address1': '3219 - West Oraija Dist.','District': 'West Oraija Dist.','Latitude': '24.5839914520002','Longitude': '46.6068958570001','DistrictID': '10100003126'

In [82]:
d['title']=d.title.str.strip('{\'Title\': \'')

In [83]:
d['address']=d.address.str.strip('\'Address1\': \'')

In [84]:
d['district']=d.district.str.strip('\'District\': \'')

In [85]:
d['latitude']=d.latitude.str.strip('\'Latitude\': \'')

In [86]:
d['district']=d.district.str.strip('Dist.')

In [87]:
d['longitude']=d.longitude.str.strip('\'Longitude\': \'')

In [88]:
d['id']=d.id.str.strip('\'DistrictID\': \'')

In [89]:
d.head()

,title,address,district,latitude,longitude,id
0,al dirwazah park and restauran,2553 ath thumamah rd - Al Munisiyah Dist.,Al Munisiyah,24.8479840250001,46.765687976,10100003140
1,al khayam park,2553 ath thumamah rd - Al Munisiyah Dist.,Al Munisiyah,24.846770564,46.7657118630001,10100003140
2,"""al uraija children's park""",7757 shubah al anbari - West Oraija Dist.,West Oraija,24.592378733,46.6153523790001,10100003126
3,al haeer park,8008 - Al Ghannamiyah Dist.,Al Ghannamiyah,24.4605509279613,46.8009684745582,10100003162
4,al rimal parking,3219 - West Oraija Dist.,West Oraija,24.5839914520002,46.6068958570001,10100003126

## Translation

In [17]:
d=pd.read_csv('pharmacy.csv')

In [18]:
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 888 entries, 0 to 887
Data columns (total 7 columns):
Unnamed: 0    888 non-null int64
title         888 non-null object
address       888 non-null object
district      888 non-null object
latitude      888 non-null float64
longitude     888 non-null float64
id            888 non-null int64
dtypes: float64(2), int64(2), object(3)
memory usage: 38.2+ KB

In [19]:
options = ['10100003101', '10100003016','10100003150']

In [20]:
rslt_df = d.loc[d['id'].isin(options)]

In [21]:
rslt_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36 entries, 161 to 862
Data columns (total 7 columns):
Unnamed: 0    36 non-null int64
title         36 non-null object
address       36 non-null object
district      36 non-null object
latitude      36 non-null float64
longitude     36 non-null float64
id            36 non-null int64
dtypes: float64(2), int64(2), object(3)
memory usage: 1.8+ KB

In [23]:
rslt_df.head(36)

,Unnamed: 0,title,address,district,latitude,longitude,id
161,161,صيدليةالدواء,4484 ad dammam rd - Qurtubah Dist.,Qurtubah,24.800095,46.738692,10100003101
192,192,Al-Dawaa Pharmacy(Delivery),7628 khalid ibn al walid - Al Shohda Dist.,Al Shohda,24.790774,46.744598,10100003016
197,197,Al-Dawaa Pharmacy(Delivery),6237 Saeed Bin Zayd - Qurtubah Dist.,Qurtubah,24.802345,46.739500,10100003101
198,198,Al-Dawaa Pharmacy(Delivery),4118 al qalam - Qurtubah Dist.,Qurtubah,24.814889,46.752867,10100003101
201,201,Al-Dawaa Pharmacy(Delivery),7074 ashaikh hasan ibn hussain ibn ali rd - Qu...,Qurtubah,24.826122,46.748098,10100003101
211,211,Al-Dawaa Pharmacy(Delivery),6271 Othman Bin Affan - Al Narjis Dist.,Al Narjis,24.836574,46.678858,10100003150
239,239,algaaf pharmacy,3312 Prince Mohammed Ibn Salman Ibn Abdulaziz ...,Qurtubah,24.819862,46.738448,10100003101
249,249,صيدلية الوطن,3896 al imam abdullah ibn saud ibn abdulaziz r...,Al Shohda,24.780912,46.740806,10100003016
259,259,alwaatn pharmacy,7884 khalid ibn al walid - Al Shohda Dist.,Al Shohda,24.793031,46.743423,10100003016
266,266,Amoon Pharmacy(Delivery),6994 riba - Qurtubah Dist.,Qurtubah,24.801476,46.729676,10100003101
323,323,صيدلية بركة الدواء,6905 abdullah ibn markhan - Qurtubah Dist.,Qurtubah,24.808308,46.746035,10100003101
336,336,boots pharmacy,6623 - Al Shohda Dist.,Al Shohda,24.780796,46.730355,10100003016
404,405,Health Brightness Pharmacy(Delivery),3069 ad dammam branch rd - Al Shohda Dist.,Al Shohda,24.796373,46.732928,10100003016
405,406,Health Brightness Pharmacy(Delivery),6783 Saeed Bin Zayd - Qurtubah Dist.,Qurtubah,24.807119,46.737428,10100003101
474,475,صيدلية كنوز,6171 Saeed Bin Zayd - Qurtubah Dist.,Qurtubah,24.801549,46.739965,10100003101
522,523,mmlakah alsahah pharmacy,7884 khalid ibn al walid - Al Shohda Dist.,Al Shohda,24.793143,46.743357,10100003016
526,527,صيدلية جناح الدواء,3912 muhammadali junah - Al Shohda Dist.,Al Shohda,24.790337,46.741421,10100003016
601,602,Nahdi Pharmacy(Delivery),7494 Saeed Bin Zayd - Qurtubah Dist.,Qurtubah,24.806040,46.736946,10100003101
602,603,Nahdi Pharmacy(Delivery),3874 ashaikh hasan ibn hussain ibn ali rd - Qu...,Qurtubah,24.821651,46.750397,10100003101
604,605,Nahdi Pharmacy(Delivery),7398 ashaikh hasan ibn hussain ibn ali rd - Qu...,Qurtubah,24.828972,46.746642,10100003101
616,617,Nahdi Pharmacy(Delivery),4594 - Al Narjis Dist.,Al Narjis,24.817300,46.685600,10100003150
618,619,Nahdi Pharmacy(Delivery),3316 Anas Bin Malek - Al Narjis Dist.,Al Narjis,24.836500,46.684200,10100003150
619,620,Nahdi Pharmacy(Delivery),6271 Othman Bin Affan - Al Narjis Dist.,Al Narjis,24.836574,46.678858,10100003150
620,621,Nahdi Pharmacy(Delivery),7265 abi bakr as siddiq - Al Narjis Dist.,Al Narjis,24.853610,46.648394,10100003150
621,622,Nahdi Pharmacy(Delivery),2201 jabal al turk - Al Narjis Dist.,Al Narjis,24.875900,46.638600,10100003150
720,721,صيدلية أورانج,8446 khalid ibn al walid - Al Shohda Dist.,Al Shohda,24.798177,46.740768,10100003016
731,732,صيدلية,3208 abi jaafar al mansur - Al Shohda Dist.,Al Shohda,24.788820,46.734225,10100003016
766,767,prevention and treatment pharmacy,3870 al qalam - Qurtubah Dist.,Qurtubah,24.813823,46.750381,10100003101
786,787,Red Luster Pharmacy(Delivery),7542 Saeed Bin Zayd - Qurtubah Dist.,Qurtubah,24.823011,46.728303,10100003101
793,794,rokn zaharh alrodhah pharmacy,7692 - Al Shohda Dist.,Al Shohda,24.791859,46.727228,10100003016
805,806,Saqqaf Pharmacy,8522 khalid ibn al walid - Al Shohda Dist.,Al Shohda,24.798876,46.740425,10100003016
806,807,صيدلية السقاف,4414 Anas Bin Malek - Al Narjis Dist.,Al Narjis,24.833587,46.677081,10100003150
811,812,saudi pharmacy,7964 ashaikh hasan ibn hussain ibn ali rd - Qu...,Qurtubah,24.817873,46.752479,10100003101
853,854,whites pharmacy,6113 Saeed Bin Zayd - Qurtubah Dist.,Qurtubah,24.817777,46.732133,10100003101
861,862,whites pharmacy,6623 - Al Shohda Dist.,Al Shohda,24.781815,46.730886,10100003016
862,863,whites pharmacy,3221 al shawati - Qurtubah Dist.,Qurtubah,24.814461,46.725460,10100003101

In [32]:
d.loc[d['title'].str.contains('whites'), 'title'] = 'صيدلية وايتس'
d.loc[d['title'].str.contains('Nahdi'), 'title'] = 'صيدلية النهدي'
d.loc[d['title'].str.contains('Dawaa'), 'title'] = 'صيدلية الدواء'
d.loc[d['title'].str.contains('Brightness'), 'title'] = 'HB صيدلية'
d.loc[d['title'].str.contains('boots'), 'title'] = 'بوتس '
d.loc[d['title'].str.contains('algaaf'), 'title'] = ' صيدلية غداف'
d.loc[d['title'].str.contains('prevention'), 'title'] = ' صيدلية الوقاية والعلاج'
d.loc[d['title'].str.contains('rokn'), 'title'] = 'صيدلية ركن زهره الروضة'
d.loc[d['title'].str.contains('Saqqaf'), 'title'] = ' صيدلية السقاف'
d.loc[d['title'].str.contains('Red'), 'title'] = 'صيدلية الرونق الأحمر'
d.loc[d['title'].str.contains('saudi'), 'title'] =   'الصيدلية السعودية'
d.loc[d['title'].str.contains('mmlakah'), 'title'] = ' صيدلية ملكة الساحة'
d.loc[d['title'].str.contains('الوطن'), 'title'] = ' صيدلية العودة '
d.loc[d['title'].str.contains('alwaatn'), 'title'] = ' صيدلية الوطن '
d.loc[d['title'].str.contains('الوطن'), 'title'] = ' صيدلية العودة '
d.loc[d['title'].str.contains('Amoon'), 'title'] = ' صيدلية امون '
d['title'][161]='صيدلية الدواء'

C:\Users\jwoha\Anaconda3\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

## KPI Calculation

In [34]:
c=d.groupby(['id','district']).count()

In [35]:
c.head()

,,Unnamed: 0,title,address,latitude,longitude
id,district,,,,,
10100003003,Al Jarradiyah,2,2,2,2,2
10100003005,Manfuha Al Jadidah,5,5,5,5,5
10100003007,Al Dirah,6,6,6,6,6
10100003008,East Umm Al Hamam,8,8,8,8,8
10100003009,Al Sharafiyah,2,2,2,2,2

In [36]:
c.drop(["address",'latitude','longitude'], axis = 1, inplace = True)

In [37]:
c

                                  Unnamed: 0  title
id          district
10100003003 Al Jarradiyah                  2      2
10100003005 Manfuha Al Jadidah             5      5
10100003007 Al Dirah                       6      6
10100003008 East Umm Al Hamam              8      8
10100003009 Al Sharafiyah                  2      2
...                                      ...    ...
10100003164 Badr                          17     17
10100003166 King Saud University           3      3
10100003167 West Naseem                   14     14
10100003169 Al Nadwah                      5      5
10100003190 Al Bayan                       1      1

[114 rows x 2 columns]

## Create JSON  Files

In [40]:
c.to_json(R'C:\Users\jwoha\NationalAddressAPI\KPIs\pharmacyKPIs.csv', orient='records', lines=True)

In [42]:
with open(R'C:\Users\jwoha\NationalAddressAPI\POIs\pharmacyPOIs.json', 'w', encoding='utf-8') as file:
    d.to_json(file, force_ascii=False, orient='records' )